[submodule "os-builder"]
	path = os-builder
	url = https://github.com/lz00qs/orangepi-zero3-archlinux-builder
[submodule "os_builder"]
	path = os_builder
	url = https://github.com/lz00qs/orangepi-zero3-archlinux-builder
